section.mahjongcalculator{
  text-align: center;
  background-image: url("../images/mahjongcalculator/mahjong_game.jpg");
  background-size: cover;
  background-position: top;
}
section.mahjongcalculator h1{
  margin-bottom:1em;
}
section.mahjongcalculator div.card{
  background: rgba(255, 255, 255, .85);
  padding: 1em;
}
section.mahjongcalculator p.description{
  margin-top:1em;
  padding: 0 3em 0 3em;
  text-align: justify;
}
