section.mahjongcalculator{
  background-image: url("../images/mahjongcalculator/mahjong_game.jpg");
  background-size: cover;
  background-position: center; 
}
section.mahjongcalculator .card{
  margin-top:2em;
}
section.mahjongcalculator .title{
  margin-bottom:0;
}
section.mahjongcalculator .description{
  margin-top:0.2em;
  margin-bottom:0.5em;
}
section.mahjongcalculator .details{
  text-align: justify;
}
