section.themockingbird{
  background-image: url('../images/themockingbird/groupphoto.jpg');
  background-size: cover;
  background-position: 50% 65%; 
}
section.themockingbird .wrapper{
  background: none;
  box-shadow: none;
}
section.themockingbird img.logo{
  width:100%;
  opacity: .85;
}
